
	<div class="overlay">
        <div class="navbar">
        <!log0...................>
                <div class="logo">
        
                    <img src="assets/images/logo.png" width="150px">
        
                </div>
        
                <nav>
        
                    <ul>
            <li>
                <!LIst..................>
                <a class="home" routerLink="/body">HOME</a></li>
            
                        <li>
                
        <a routerLink="/gallery">GALLERY</a>
                       
</li>
        <li>        <a routerLink="/Blog">BLOGS</a></li>
            <li>
                <a routerLink="/contactus">CONTACT US</a></li>
            </ul>
        </nav>
        </div>


<h1>Puresh Dairy</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
	<br>
        <button>Join Us</button>
        
</div>


            