 <!-- Footer main -->
<div class="back"> 
<section class="footer">
    <div class="columns">
      <h2 class="ftitle">Categories</h2>
      <ul>
        <li><a href="javascript:void(0)">Over Products</a></li>
        <li><a href="javascript:void(0)">Collection</a></li>
        <li><a href="javascript:void(0)">Hand Collection</a></li>
        <li><a href="javascript:void(0)">Ghee</a></li>
        <li><a href="javascript:void(0)">Health</a></li>
        <li><a href="javascript:void(0)">Accesesories</a></li>
      </ul>
    </div>
    <div class="columns">
      <h2 class="ftitle">My Account</h2>
      <ul>
        <li><a href="javascript:void(0)">Register</a></li>
        <li><a href="javascript:void(0)">Sign In</a></li>
      </ul>
    </div>
    
      <div class="columns">
      <h2 class="ftitle">Contact</h2>
      <ul>
        <li>Address:Puresh Milk Dairy.</li>
        <li>Plot No. C-6/10, Road No.7, Hojiwala<</li>
        <li>Industrial Estate, Sachin, Surat - 394230 </li>
        




      <p></p>
        <li>Phone : 1800 233 8888</li><p></p>
        <li>Hours: Mon – Sat (10 am to 6 pm)</li><p></p>
        <li>Mail To : <a href="javascript:void(0)">info@PureshDairy.com</a></li>
      </ul>
    
      </div>
    <div class="columns">
      
      <h2 class="ftitle">Download Our App</h2>
      <ul>
        <li><img src="assets/images/gapp.png">
        
        
          <img src="assets/images/app.png">
        
        </li>
      </ul>
    </div>
  </section>

</div>

    

    
  <!copyright starts........>
        <div class="copyright">
        &copy; Puresh Dairy . All Rights Reserved.  Powered by Omkar Singh Raghav
        </div>  