<div class="brand"><h1><span>A</span>bout <span>U</span>s</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p></div>
<hr>
<section class="banner">
                 <img src="assets/images/milk2.jpg">   
    </section>
<div class="brand"><h1><span>W</span>hy <span>C</span>hoose <span>U</span>s</h1></div>
      <div class="service-bottom">

        <div class="service-item">
            <div class="icon"><img src="assets/images/milk.jpg" width="100px" height="100px"/></div>
          <h2>Purity</h2>
          </div>
        <div class="service-item">
          <div class="icon"><img src="assets/images/milk.jpg" width="100px" height="100px"/></div>
          <h2>Variety</h2>
          </div>
        <div class="service-item">
          <div class="icon"><img src="assets/images/milk.jpg" width="100px" height="100px"/></div>
          <h2>Trusthood</h2>
          </div>
        <div class="service-item">
          <div class="icon"><img src="assets/images/milk.jpg" width="100px" height="100px"/></div>
          <h2>Quality</h2>
          </div>
      </div>
    <hr>      
<div class="brand"><h1><span>P</span>roducts</h1></div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Milk Products</h1>
            <h2>Full Toned</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="assets/images/milk.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Ghee Products</h1>
            <h2>100% purity</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="assets/images/milk2.jpg" alt="img">
          </div>
        </div>
       
        </div>
<hr>
       <div class="label">
  <label>Create Your Online Account With Puresh Dairy Today         
  </label> 
  <button> Register Now</button>
        </div>

        
<div class="brand"><h1><span>U</span>ser <span>R</span>eview</h1></div>
  
<div class="containermax">

<div class="container">
  <img src="assets/images/logo.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World
    my name i simkar singfh rasjbkmf.</div>
  </div><div class="info">
  <h2>Fade in Overlay</h2>
</div>
  
</div>

<div class="container">
  <img src="assets/images/logo.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World
    my name i simkar singfh rasjbkmf.</div>
  </div><div class="info">
  <h2>Fade in Overlay</h2>
</div>
  
</div>

<div class="container">
  <img src="assets/images/logo.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World
    my name i simkar singfh rasjbkmf.</div>
  </div><div class="info">
  <p>Fade in Overlay<br>Omkar SDingh RAghav</p>
</div>
  
</div>

<div class="container">
  <img src="assets/images/bird.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World
    my name i simkar singfh rasjbkmf.</div>
  </div><div class="info">
  <h2>Fade in Overlay</h2>
</div>
  
</div>

</div><div class="label">
<button>Read More</button>
    </div>
<hr>
<div class="brand"><h1><span>O</span>ur <span>B</span>logs</h1></div>
  

<div class="responsive">
  

    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/banner.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><h3>Ghee Cost Reduction</h3>Add a description of the image herehgbjuhgbfjhbghjugvuhjdsfgbujhdfgujhdfgb
    fjhgbjhfvghsdfvgshfv
    sdjfgbhujdgvyusd<br>
        <a routerLink="/blog1"><button><h3>--Read More</h3></button></a>
</div>

    </div>
    
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/banner.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><h3>Ghee Cost Reduction</h3>Add a description of the image herehgbjuhgbfjhbghjugvuhjdsfgbujhdfgujhdfgb
    fjhgbjhfvghsdfvgshfv
    sdjfgbhujdgvyusd<br>
        <a routerLink="/blog1"><button><h3>--Read More</h3></button></a>
</div>

    </div>
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/banner.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><h3>Ghee Cost Reduction</h3>Add a description of the image herehgbjuhgbfjhbghjugvuhjdsfgbujhdfgujhdfgb
    fjhgbjhfvghsdfvgshfv
    sdjfgbhujdgvyusd<br>
        <a routerLink="/blog1"><button><h3>--Read More</h3></button></a>
</div>

    </div>
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/banner.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><h3>Ghee Cost Reduction</h3>Add a description of the image herehgbjuhgbfjhbghjugvuhjdsfgbujhdfgujhdfgb
    fjhgbjhfvghsdfvgshfv
    sdjfgbhujdgvyusd<br>
        <a routerLink="/blog1"><button><h3>--Read More</h3></button></a>
</div>

    </div>
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/banner.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><h3>Ghee Cost Reduction</h3>Add a description of the image herehgbjuhgbfjhbghjugvuhjdsfgbujhdfgujhdfgb
    fjhgbjhfvghsdfvgshfv
    sdjfgbhujdgvyusd<br>
        <a routerLink="/blog1"><button><h3>--Read More</h3></button></a>
</div>

    </div>
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/images/banner.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><h3>Ghee Cost Reduction</h3>Add a description of the image herehgbjuhgbfjhbghjugvuhjdsfgbujhdfgujhdfgb
    fjhgbjhfvghsdfvgshfv
    sdjfgbhujdgvyusd<br>
        <a routerLink="/blog1"><button><h3>--Read More</h3></button></a>
</div>

    </div>
    <div class="label">
    <a routerLink="/Blog"><button>Read More</button></a>
    </div></div>

